#include "Secrets.xcconfig"

TEAM_ID=
TMDB_ACCESS_TOKEN=eyJhbGciOiJIUzI1NiJ9.eyJhdWQiOiJiZjE4Zjc1OGRhYWMxMTYyOTc2OTM0MTU5ZDYzMzMxMiIsIm5iZiI6MTc1MTA1NzY4Ni4wODUsInN1YiI6IjY4NWYwNTE2MjIzMTcyYjE4OTkxNTQwZiIsInNjb3BlcyI6WyJhcGlfcmVhZCJdLCJ2ZXJzaW9uIjoxfQ.R7ylFpjk_fhRy0lQYC3HnsvgutFaJPpo27UHjAVDb-0
PRODUCT_NAME=Movies
PRODUCT_BUNDLE_IDENTIFIER=com.walcker.movies.Movies$(TEAM_ID)

CURRENT_PROJECT_VERSION=1
MARKETING_VERSION=1.0